extends layout

block content
  .main-container
    .content
        .content-body
            .success-text
                p Success!
            .description 
                p Hello Nedbank the future is here